
name: CI Tests

on:
    push:
    pull_request:

jobs:
    ci_tests:
        name: ${{ matrix.name }}
        runs-on: ${{ matrix.os }}

        strategy:
          matrix:
            include:
    
              - name: Python 3.10
                os: ubuntu-latest
                python: 3.10
    
              - name: Python 3.11
                os: ubuntu-latest
                python: 3.11
    
              - name: Python 3.11 Mac
                os: macos-latest
                python: 3.11

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v3
              with:
                python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                python -m pip install flake8 pytest
                if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    
            - name: Run tests
              run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
          
            - name: Run tests with pytest
              run: |
                  pytest tests/


        